<ion-side-menus>
  <!-- Left menu -->
  <ion-side-menu side="left">
    asdf
  </ion-side-menu>

  <ion-side-menu-content class="welcome-view" cache-view="false">

      <ion-header-bar>
        <div class="bar bar-header bar-light">
          <button class="button icon ion-navicon" ng-click="toggleLeft()"></button>
          <h1 class="title">bar-light</h1>
        </div>
      </ion-header-bar>
      <ion-content>
        <div class="row">
          <div class="col">
            <button class="button button-block button-positive" ng-click="facebookSignIn()">
              Log in with Facebook
            </button>
          </div>
        </div>
      </ion-content>
  </ion-side-menu-content>

  <!-- Right menu -->
  <ion-side-menu side="right">
  </ion-side-menu>

</ion-side-menus>
